{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Username | Web Hunt</title>
    <link rel="icon" href="{% static 'gif/favicon.ico' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/username.css' %}">
    <script src="https://kit.fontawesome.com/85d0952e20.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="blur-cover">
        {% for message in messages %}
            <div style="z-index: 1;" class="alert alert-{{message.tags}} alert-dismissible fade show mb-0" role="alert">
            <strong>Message:</strong> {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
        {% endfor %}
        <div class="box">
            <div class="inner-box">
                <div class="header">Make Username</div>
                <form id="teamNameform" action="/username/" method="POST">
                    {% csrf_token %}
                    <div class="inputs">
                        <div class="inputs-box" style="margin-bottom: 0px;">
                            <input id="login-name" name="username" type="text" placeholder="Create Username">
                        </div>
                    </div>
                    <div class="next-page-btn">
                        <div class="next-btn" onclick="username_form()">
                            <i class="fas fa-arrow-right"></i>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div style="position: absolute; bottom: 0; right: 0; padding: 10px;">
            <img src="/static/gif/1.PNG" style="height:60px; width: 60px;">
        </div>
    </div>
    <script>
        function username_form(){
            var teamform = document.getElementById('teamNameform');
            teamform.submit();
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

username
</body>
</html>